<div class="row">
    <div class="col col-md"></div>
    <div class="col-md-10 col-md-6">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h4>Introduzca sus datos:</h4>
            <label>Correo Electrónico</label>
            <input type="email" id="inputEmail" class="form-control" formControlName="email" required autofocus>
            <label>Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" formControlName="password" required>
            <hr>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" *ngIf="!autenticando">Inicie sesión</button>
            <button type="submit" class="btn btn-primary " *ngIf="autenticando"><i class="fa fa-spinner text-center"></i></button>
        </form>

        <div class="card w-50 float-right">
            <div class="card-header">
                <h5 class="card-title">Aún no tienes cuenta?</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Crea una <a routerLink="/registro">aquí</a></p>
            </div>
        </div>

        <p class="alert alert-danger" *ngIf="mensaje">
            El usuario o contraseña no es correcto
        </p>
    </div>
    <div class="col col-md"></div>
</div>